# --- Arquivos Compilados e Logs ---
*.class
*.log
*.ctxt
.mtj.tmp/

# --- Spring Boot & Logs de Aplicação ---
# Logs gerados padrão
logs/
*.log
npm-debug.log
yarn-error.log

# Arquivo de ajuda gerado pelo Spring Initializr
HELP.md

# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber

# --- Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle Caching
.gradle-test-kit/
.gradle-cache/

# --- IDEs (IntelliJ IDEA, Eclipse, VS Code) ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/
.metadata/

# VS Code
.vscode/
*.code-workspace

# --- Arquivos de Sistema Operacional ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Segurança / Variáveis de Ambiente ---
# Nunca commite arquivos .env ou chaves de API
.env
.env.local
*.properties.local

# --- mysql ---
*/mysql-data/